html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}
/* 
. {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
} */

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url("poster.jpg");
    background-size: cover;
  }
}

#videoBG {
  position: fixed;
  z-index: -1;
}

.game {
  display: grid;
  place-items: center;
  position: relative;
  padding: 20px;
}

#gameBody {
  margin: auto;
  display: grid;
  place-items: center;
  position: relative;
  min-width: 400px;
}

#startButton {
  position: relative;
  background: rgba(241, 30, 2, 0.5);
  min-width: 500px;
  min-height: 380px;
  border-radius: 50px;
  border: none;
  padding: 20px;
  box-sizing: border-box;
}

#startButton:hover {
  box-shadow: 0 8px 40px 0 rgb(34, 25, 25);
  background: rgba(241, 30, 2, 1);
}

#startButtonText {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Special Elite", cursive;
  line-height: 60px;
}

.gameLevel {
  display: grid;
  place-items: center;
  background-color: rgba(48, 80, 23, 0.5);
  min-width: 400px;
  width: 100%;
  height: auto;
  visibility: hidden;
  box-sizing: border-box;
  padding: 30px;
  font-family: "Orbitron", sans-serif;
  border: 10px solid;
  border-image: linear-gradient(45deg, #5c5c5c, #c0bebe 74%) 1;
}

.gameStatPanel {
  display: grid;
  place-items: center;
  visibility: hidden;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  line-height: 40px;
  color: rgb(1, 32, 13);
  background-color: #8f8f8f75;
  padding-top: 50px;
}

#restartButton {
  visibility: hidden;
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  animation: shineGreen 1.1s infinite alternate;
}

#restartButton:hover {
  color: red;
}

.button {
  min-width: 400px;
  widows: 100%;
  min-height: 100px;
  line-height: 66px;
  margin: 15px;
  font-size: 30px;
}

.shinyColor {
  font-size: 30px;
  background-size: cover;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);

  background-position: center;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#timerRow {
  color: rgb(192, 192, 192);
  font-family: "Orbitron", sans-serif;
}

.blackText {
  font-size: 30px;
  font-weight: 900;
  color: black;
}

@keyframes shineGreen {
  0% {
    background-color: #004623;
  }
  100% {
    background-color: #646464;
  }
}

#correctAnswer,
#incorrectAnswer,
#unansweredAnswer {
}
